__pycache__/
.venv/
experiments/config/config.py
experiments/results_experiments/
references/
External Libraries/
Scratches and Consoles/

# Ignore PyCharm project files
.idea/

/path/to/your/folder/
!/path/to/your/folder/include_this_file.txt
!/path/to/your/folder/subfolder/


# Ignore local history
.idea/**/shelf/
.idea/**/workspace.xml
local_history.patch

*.pyc
experiments/initial_parameters/

/experiments/rl-ddqn/acrobot.py
/experiments/rl-ddqn/cc_logistic.py
/experiments/rl-ddqn/mountain_car.py
/experiments/rl-ddqn/pendulum.py
/experiments/rl-ddqn/taxi.py

/experiments/imgs/
!/experiments/imgs/.gitkeep

/src/back-up.py


/experiments/regressions/
/experiments/classifications/cifar10_vgg16.py
